.pan {
  padding: 0px;
}

.man {
  margin: 0px;
}

.mam {
  margin:15px;
}

.max {
  margin: 5px;
}

.mas {
  margin: 10px;
}

.pax {
  padding: 5px;
}

.ptx {
  padding-top: 5px;
}

.plx {
  padding-left: 5px;
}

.prx {
  padding-right: 5px;
}

.pbx {
  padding-bottom: 5px;
}

.pas {
  padding: 10px;
}
.pts {
  padding-top: 10px;
}

.pls {
  padding-left: 10px;
}

.prs {
  padding-right: 10px;
}

.pbs {
  padding-bottom: 10px;
}

.ptm {
  padding-top: 15px;
}

.plm {
  padding-left: 15px;
}

.prm {
  padding-right: 15px;
}

.pbm {
  padding-bottom: 15px;
}

.ptl {
  padding-top: 20px;
}

.pll {
  padding-left: 20px;
}

.prl {
  padding-right: 20px;
}

.pbl {
  padding-bottom: 20px;
}

/*margins*/
.mtx {
  margin-top: 5px;
}

.mlx {
  margin-left: 5px;
}

.mrx {
  margin-right: 5px;
}

.mbx {
  margin-bottom: 5px;
}

.mts {
  margin-top: 10px;
}

.mls {
  margin-left: 10px;
}

.mrs {
  margin-right: 10px;
}

.mbs {
  margin-bottom: 10px;
}

.mtm {
  margin-top: 15px;
}

.mlm {
  margin-left: 15px;
}

.mrm {
  margin-right: 15px;
}

.mbm {
  margin-bottom: 15px;
}

.mtl {
  margin-top: 20px;
}

.mll {
  margin-left: 20px;
}

.mrl {
  margin-right: 20px;
}

.mbl {
  margin-bottom: 20px;
}

.pam {
  padding: 15px;
}
